<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/public/css/normalize.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css " rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="Site">
    <header class="nav-bar">
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
            <p>Menú</p>
        </div>
        <img src="" alt="Sportland logo">
        <form action="/" method="POST">
            <input type="text" name="search" placeholder="Buscar productos">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="/login" class="login-hide">    
            <div class="login-icon">
                <i class="fas fa-sign-in-alt"></i>
                <p>Ingresá</p>
            </div>
        </a>
        <a href="/register" class="register-hide">    
            <div class="register-icon">
                <i class="fas fa-id-card"></i>
                <p>Registrate</p>
            </div>
        </a>
        <a href="/productCart">    
            <div class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <p>Carrito</p>
            </div>
        </a>
    </header>
    <main class="Site-content">
        <p>Hola mundo, estoy en productDetail</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore architecto est delectus tempore id, dolor praesentium temporibus eum officia molestiae voluptate corrupti fugit nulla laudantium. Labore distinctio perferendis totam laboriosam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore architecto est delectus tempore id, dolor praesentium temporibus eum officia molestiae voluptate corrupti fugit nulla laudantium. Labore distinctio perferendis totam laboriosam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore architecto est delectus tempore id, dolor praesentium temporibus eum officia molestiae voluptate corrupti fugit nulla laudantium. Labore distinctio perferendis totam laboriosam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore architecto est delectus tempore id, dolor praesentium temporibus eum officia molestiae voluptate corrupti fugit nulla laudantium. Labore distinctio perferendis totam laboriosam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore architecto est delectus tempore id, dolor praesentium temporibus eum officia molestiae voluptate corrupti fugit nulla laudantium. Labore distinctio perferendis totam laboriosam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore architecto est delectus tempore id, dolor praesentium temporibus eum officia molestiae voluptate corrupti fugit nulla laudantium. Labore distinctio perferendis totam laboriosam!</p>

    </main>
    <footer>
        <img src="" alt="Sportland logo">
        <div>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </footer>
</body>
</html>