* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
}

/*Header style*/

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;
    background-color: #777;
}


.menu-icon,
.cart-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 500ms;
}

.menu-icon:hover,
.cart-icon:hover,
.login-icon:hover,
.register-icon:hover {
    color: rgba(231, 222, 222, 0.808);
}

.nav-bar p {
    margin-left: 5px;
}

.nav-bar form,
.nav-bar p,
.login-icon,
.register-icon,
.login-hide,
.register-hide {
    display: none;
}

.nav-bar form input,
.nav-bar form button {
    border-radius: 7.5px;
}

.nav-bar a,
.nav-bar a:visited {
    text-decoration: none;
    color: black;
}

/*Footer style*/

footer {
    padding: 3vh 3vw;
    background-color: #777;
}

.footer-logo-fb-inst {
    padding: 2vh 0;
}

.fb-inst {
    padding: 1.5vh 0 0 0;
}

.about-us,
.useful-links {
    padding: 0 0 1.5vh 0;
}

.container-main-footer h4 {
    font-size: 14px;
    padding: 0 0 1.5vh 0;
}

.container-main-footer ul{
    list-style: none;
    font-size: 12px;
}

.container-main-footer ul li {
    padding: 0 0 1vh 0;
}

.copyrights {
    font-size: 10px;
    padding-top: 2vh;
}


/*ProductDetail - main*/

div.container-productDetail {
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}

div.container-productDetail h3,
div.container-productDetail img,
div.container-productDetail h4,
div.container-productDetail p,
div.container-productDetail form {
    padding: 0.7vh 0;
}

div.container-productDetail .container-img {
    max-height: 50%;
    max-width: 100%;
}

div.container-productDetail .container-img img {
    max-width: 100%;
    height: auto;
}

/*----------------------------Formato de Login-----------------------------------------------------------*/


.contenedorLogin{
    display: flex;
    flex-direction: column;    
    background-color: gainsboro;
}

.ingresaTuCuenta{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

.contLoginForm{
    background-color: gainsboro;
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorCampoLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contLoginFormA{
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.contLoginFormB{
    margin-left: 20%;
    border-radius: 5px;
    width: 60%;
    padding: 5px;
    padding-top: 15px;
}

.contLoginFormC{
    width: 60%;
    border-radius: 5px;
    padding: 8px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgb(66, 133, 233);
    color: white;
}

.contLoginFormD{
    width: 60%;
    border-radius: 5px;
    padding: 8px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: gray;
    color: white;
}

.contLoginFormD i{
    padding-left: 2%;
    padding-right: 20%;
}



.contenedorAunNoTenesCuenta{
    display: flex;
    justify-content: center;
}
/*---------------------------------------Formato de main de Register--------------------------------*/
.contenedorMain{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}

.contenedorMainNav{
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
    margin-top: 5px;
}

.contenedorMainForm{
    display: flex;
    flex-direction: column;
}

.contMainFormA{
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.contMainFormB{
    margin-left: 20%;
    border-radius: 5px;
    width: 60%;
    padding: 5px;
    padding-top: 15px;
}

.contMainButton{
    width: 35%;
    border-radius: 5px;
    padding: 8px;
    margin-left: 32%;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgb(66, 133, 233);
}

@media (min-width: 480px) {
    
    /*Header*/

    .nav-bar p {
        display: block;
    }

    /*Footer*/

    .container-main-footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-logo-fb-inst,
    .about-us,
    .useful-links {
        flex-basis: 30%;
    }
}

@media (min-width: 769px) {

    /*Header*/

    .nav-bar form {
        display: flex;
    }
    .menu-icon {
        display: none;
    }

    .login-icon,
    .register-icon,
    .login-hide,
    .register-hide {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .login-icon,
    .register-icon {
        transition: all 500ms;
    }

    /*Footer*/

    .container-main-footer h4 {
        font-size: 16px;
    }

    .container-main-footer ul{
        font-size: 14px;
    }

    /*ProductDetail main*/

    .container-imgAndproductDescription {
        display: flex;
    }

    .container-productDescription {
        margin-left: 2vw;
    }
}

