<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="Index_Body" >
    <!---------------------------------------------------------------------- INICIO HEADER----------------->
    <%- include('./partials/header') %>
    <!------------------------------------------------------------------------------- FIN HEADER---------->
    <main class="Index">

        <!--<img  id="banner" src="images/banner3.jpg" alt="banner" >-->
        <!--div id="banner">Espacio para el banner</div>
        -->



     <!------------------------------------------------BASO EN TU ULTIMA BUSQUEDA---------> 
     <!----------------------------------------------------------------------------------->  
        <p class="titulo">Basados en tu última búsqueda</p>
<div class="contenedor">
   
    <!----------------------------------------Bicicleta FIJA-->
    <div class="cajaGrande">
        <img src="images/products/bicicleta_fija.png" alt="">

        <div class="cajaChica">   
                   
            
            <div class="columnaIzq">
                <div class="renglonArriba">  
                <p class="precios">$56.500</p>
                <p class="descuentos">20% OFF</p></div>
                <div class="renglonAbajo"> 
                <p class="descripciones">Bicicleta Fija</p></div>
            </div>

            <div class="columnaDer">
                <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
            </div>

        </div>
      </div>

     <!----------------------------------------Mancuernas-->
      <div class="cajaGrande">
        <img src="images/products/mancuerna_naranja.png" alt="" >
        <div class="cajaChica">   
                   
            
            <div class="columnaIzq">
                <div class="renglonArriba">  
                <p class="precios">$6000</p>
                <p class="descuentos">20% OFF</p></div>
                <div class="renglonAbajo"> 
                <p class="descripciones">Mancuernas recubiertas de 3kg</p></div>
            </div>

            <div class="columnaDer">
                <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
            </div>

        </div>
      </div>

     <!----------------------------------------Bandas Circulares-->
     <div class="cajaGrande">
        <img src="images/products/bandas_circulares.JPG" alt=""  >
        <div class="cajaChica">   
                   
            
            <div class="columnaIzq">
                <div class="renglonArriba">  
                <p class="precios">$1.600</p>
                <p class="descuentos">20% OFF</p></div>
                <div class="renglonAbajo"> 
                <p class="descripciones">Cintas circulares</p></div>
            </div>

            <div class="columnaDer">
                <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
            </div>

        </div>
      </div>

           <!----------------------------------------Cinta Correr-->
     <div class="cajaGrande" id="ocultar">
        <img src="images/products/cinta_de_correr.png" alt=""  >
        <div class="cajaChica">   
                   
            
            <div class="columnaIzq">
                <div class="renglonArriba">  
                <p class="precios">$61.000</p>
                <p class="descuentos">20% OFF</p></div>
                <div class="renglonAbajo"> 
                <p class="descripciones">Maquina de correr</p></div>
            </div>

            <div class="columnaDer">
                <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
            </div>

        </div>
      </div>

<!-------------------------------------------------------------OFERTAS ESPECIALES---------> 
     <!----------------------------------------------------------------------------------->  
     <p class="titulo">Ofertas</p>
     <div class="contenedor">
        
         <!----------------------------------------Bicicleta FIJA-->
         <div class="cajaGrande">
             <img src="images/products/bicicleta_fija.png" alt=""  >
             <div class="cajaChica">   
                        
                 
                 <div class="columnaIzq">
                     <div class="renglonArriba">  
                     <p class="precios">$56.500</p>
                     <p class="descuentos">20% OFF</p></div>
                     <div class="renglonAbajo"> 
                     <p class="descripciones">Bicicleta Fija</p></div>
                 </div>
     
                 <div class="columnaDer">
                     <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                     <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
                 </div>
     
             </div>
           </div>
     
          <!----------------------------------------Mancuernas-->
           <div class="cajaGrande">
             <img src="images/products/mancuerna_naranja.png" alt=""  >
             <div class="cajaChica">   
                        
                 
                 <div class="columnaIzq">
                     <div class="renglonArriba">  
                     <p class="precios">$6000</p>
                     <p class="descuentos">20% OFF</p></div>
                     <div class="renglonAbajo"> 
                     <p class="descripciones">Mancuernas recubiertas de 3kg</p></div>
                 </div>
     
                 <div class="columnaDer">
                     <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                     <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
                 </div>
     
             </div>
           </div>
     
          <!----------------------------------------Bandas Circulares-->
          <div class="cajaGrande">
             <img src="images/products/bandas_circulares.JPG" alt=""  >
             <div class="cajaChica">   
                        
                 
                 <div class="columnaIzq">
                     <div class="renglonArriba">  
                     <p class="precios">$1.600</p>
                     <p class="descuentos">20% OFF</p></div>
                     <div class="renglonAbajo"> 
                     <p class="descripciones">Cintas circulares</p></div>
                 </div>
     
                 <div class="columnaDer">
                     <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                     <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
                 </div>
     
             </div>
           </div>
     
                <!----------------------------------------Cinta Correr-->
          <div class="cajaGrande">
             <img src="images/products/cinta_de_correr.png" alt=""  >
             <div class="cajaChica">   
                        
                 
                 <div class="columnaIzq">
                     <div class="renglonArriba">  
                     <p class="precios">$61.000</p>
                     <p class="descuentos">20% OFF</p></div>
                     <div class="renglonAbajo"> 
                     <p class="descripciones">Maquina de correr</p></div>
                 </div>
     
                 <div class="columnaDer">
                     <div class="iconoCarrito"> <i class="fas fa-shopping-cart"></i></div>
                     <div class="iconoFavorito"> <i class="far fa-heart"></i></i></div>
                 </div>
     
             </div>
           </div>





</div>






    </main>

<!------------------------------------------------------------------------------------ FOOTER  ---------->
<%- include('./partials/footer') %>

    <!----------------------------------------------------------------------------- FIN FOOTER  ---------->
</body>
</html>