<header class="nav-bar">
    <div class="menu-icon">
        <i class="fas fa-bars"></i>
        <p>Menú</p>
    </div>
    <a href="/">
        <img class="sportlandLogo" src="/images/logoSportland.png" alt="Sportland logo">
    </a>
    
    <form action="/products/search" method="GET">
        <input type="text" name="search" placeholder="Buscar productos">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <% if (locals.isLogged) { %> 
    <a href="/users/profile" class="login-hide">    
        <div class="login-icon">
            <img src="/images/users/<%= userLogged.image %> " alt="Profile image" class="profile-pic">
            <p><%= userLogged.first_name + ' ' + userLogged.last_name %> </p>
        </div>
    </a>
    <a href="/users/logout" class="login-hide">    
        <div class="login-icon">
            <!--<img src="" alt="">-->
            <p>Logout</p>
        </div>
    </a>
    <% } else { %> 
    <a href="/users/login" class="login-hide">    
        <div class="login-icon">
            <i class="fas fa-sign-in-alt"></i>
            <p>Ingresá</p>
        </div>
    </a>
    <a href="/users/register" class="register-hide">    
        <div class="register-icon">
            <i class="fas fa-id-card"></i>
            <p>Registrate</p>
        </div>
    </a>
    <% } %> 
    <a href="/products/productCart">    
        <div class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <p>Carrito</p>
        </div>
    </a>
</header>