<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="Site">
    <%- include('../partials/header') %>
    <main class="Site-content">
        <p>Este es el formulario para crear producto</p>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>